{% load static %}

<!DOCTYPE html>
<html lang="en" {% block html_tag_meta %}{% endblock %}>
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}| Harper Collection</title>

    {#    {% block meta %} {% endblock %}#}
    <style>
      .htmx-indicator {
        opacity:    0;
        transition: opacity 500ms ease-in;
      }

      .htmx-request .htmx-indicator {
        opacity: 1
      }

      .htmx-request.htmx-indicator {
        opacity: 1
      }

      #logo {
        height: 33px;
      }

      main.container {
        margin-top: 69px;
        min-height: 100vh;
      }

      .carousel-indicators li {
        opacity: 1 !important;
      }

      .carousel-indicators li {
        background-color: black !important;
      }

      .carousel-indicators {
        bottom: -75px !important;
      }


    </style>
    {% block head %}{% endblock %}

    <link rel="preload" as="style"
          onload="this.onload=null;this.rel='stylesheet'"
          href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="preload" as="style"
          onload="this.onload=null;this.rel='stylesheet'"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block bootstrap-override %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e98146ae77.js" crossorigin="anonymous"></script>

    <link href="{% static 'jquery-ui.min.css' %}" rel="preload" as="style"
          onload="this.onload=null;this.rel='stylesheet'"/>

    <link href="{% static 'lightbox.css' %}" rel="preload" as="style"
          onload="this.onload=null;this.rel='stylesheet'"/>

    <script>

    </script>
    <!-- Inform modern browsers that this page supports both dark and light color schemes,
      and the page author prefers light. -->
    <style>
      body {
        overflow-y: scroll !important;
      }

      #messages {
        margin-top: 80px;
      }

      .mt-100-2 {
        margin-top: 100px;
      }


      main#main-container {
      {#margin-top: 3em;#}
      }

      body {
        padding-top: 100px;
      }

      .modal-body {
        max-height: calc(100vh - 300px);
        overflow-y: scroll;

      }

      body {
        background-color: black !important;
      }

      table, #app {
        background-color: white;
      }

    </style>

    <script>
        let FILE_DOWNLOAD_URL = "{% url 'file_download' %}";
    </script>
    {% block head-after %}{% endblock %}
    {#    <link rel="stylesheet" href="/static/custom_bootstrap_styles.css"/>#}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>


</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' style="overflow-x:hidden!important;">

{% include "nav.html" %}

{% if messages %}
    <div class="container-fluid" id="messages">
        <div class="row">
            <div class="col justify-content-center">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" style="z-index:3;">
                        <p>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% block before-main-content %}{% endblock %}

<main role="main" class="{% block main-body-class %}container-fluid pl-2 mr-2 ml-2 mr-2 {% endblock %}" id="main-container">


    {% if breadcrumbs %}

            {% include "dynamic_breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs %}

    {% endif %}

    <div class="{% block wrapper-class %}new-content-wrapper bg-white row p-2 m-4{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>


    {#    {% if request.user.is_authenticated %}#}
    {#        <div hx-get="/notifications" hx-trigger="every 60s"></div>#}
    {#    {% endif %}#}

    <div class="modal fade" tabindex="-1" role="dialog" id="subscription-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ subscription_title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ subscription_message }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">{{ subscription_button }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}

<script src="https://js.stripe.com/v3/"></script>
<script src="https://unpkg.com/htmx.org@1.9.2"></script>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>#}
<script src="/static/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

<script src="/static/jquery.rwdImageMaps.min.js"></script>
<script src="/static/jquery.maphilight.min.js"></script>
<script src="/static/jquery-ui.js"></script>
<script src="/static/loadingoverlay.min.js"></script>
<script src="/static/lightbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    /*
    $(document).ready(function () {
        // initially popup is hidden:
        $('#subscription-modal').modal('hide')
        // Check for the "whenToShowDialog" cookie, if not found then show the dialog and save the cookie.
        // The cookie will expire and every 2 days and the dialog will show again.

        if (Cookies.get('whenToShowDialog') === undefined) {
            // Create expiring cookie, 2 days from now:
            Cookies.set('whenToShowDialog', 'yes', {expires: 2, path: '/'});

            // Show dialog
            //alert("Showing")
            $('#subscription-modal').modal('show')
        }
    }); */
</script>
<div style="display:none;">
    {% csrf_token %}
</div>
<script>
    const CSRF_TOKEN = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const CSRF_HEADER = {'X-CSRFToken': CSRF_TOKEN};
</script>
<script>
    function findBootstrapEnvironment() {
        let envs = ['xs', 'sm', 'md', 'lg', 'xl'];

        let el = document.createElement('div');
        document.body.appendChild(el);

        let curEnv = envs.shift();

        for (let env of envs.reverse()) {
            el.classList.add(`d-${env}-none`);

            if (window.getComputedStyle(el).display === 'none') {
                curEnv = env;
                break;
            }
        }

        document.body.removeChild(el);
        return curEnv;
    }
</script>
<script>
    $("#refresh-screen").click(function () {
        console.log("reloading");
        location.reload(true);
    })
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('.confirmation').click(function (e) {
        if (!confirm('Are you sure?')) e.preventDefault();
    })
</script>


{% block body-end %}{% endblock %}
{% block js_scripts %}{% endblock %}

{% if request.user.is_authenticated %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 0,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }
        let USER_SESAME_TOKEN = 0;
        let HAVE_TOKEN = false;
        let TOKEN_URL = "{% url 'get-user-sesame' %}";


        (async function SET_TOKEN() {
            try {
                const response = await fetch(TOKEN_URL);
                const jsonData = await response.json();
                console.log(jsonData['token']);
                USER_SESAME_TOKEN = jsonData['token']
                HAVE_TOKEN = true;
            } catch (e) {
                console.log(e);
                HAVE_TOKEN = false;
            }

            if (USER_SESAME_TOKEN === 0) {

            } else {
                console.log("websockin");
                {{ websocket_js }}
            }
            //setTimeout(SET_TOKEN, 40 * 1000);
        })();


    </script>
{% endif %}

<script>


    $(document).ready(function () {
        /* ... */


        function updateState(taskID) {
            $.ajax({
                url: `task-status/${taskID}/`,
                type: 'GET'
            })
                .done(response => {
                    const data = `
          <th>${response.task_id}</th>
          <td>${response.state}</td>
          <td>${response.progression}</td>
          <td>${response.info}</td>
          `
                    const tr = $('#' + response.task_id)
                    // if the element exists, update it
                    if (tr.length) {
                        tr.html(data)
                    }
                    // otherwise, create a new row in the table
                    else {
                        const tableBody = `<tr id='${response.task_id}'>${data}</tr>`
                        $('tbody').append(tableBody)
                    }

                    // task is finished
                    if (response.state == "FAILURE" || response.state == "SUCCESS") {
                        return false
                    }
                    // rerun every 2 seconds
                    setTimeout(function () {
                        updateState(response.task_id)
                    }, 2000)
                })
                .fail(error => console.log(error))
        }

    })
</script>

<script>
    const createCustomerUrl = "{% url 'subscriptions:create_subscription' %}";

    function stripePaymentMethodHandler(result, email) {
        if (result.error) {
            // Show error in payment form
        } else {
            const paymentParams = {
                email: email,
                plan_id: getSelectedPlanId(),
                payment_method: result.paymentMethod.id,
            };
            fetch(createCustomerUrl, {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                credentials: 'same-origin',
                body: JSON.stringify(paymentParams),
            }).then(function (response) {
                return response.json();
            }).then(function (result) {
                // todo: check and process subscription status based on the response
            }).catch(function (error) {
                // more error handling
            });
        }
    }</script>

<script>
    const stripeConfigURL = "{% url 'subscriptions:strip-config' %}";
    const createStripeCheckOutSessionURL = "{% url 'subscriptions:create-checkout-session' %}";


    // new
    // Get Stripe publishable key
    fetch(stripeConfigURL)
        .then((result) => {
            return result.json();
        })
        .then((data) => {
            // Initialize Stripe.js
            const stripe = Stripe(data.publicKey);
        });

    function hello() {
        fetch(createStripeCheckOutSessionURL)
            .then((result) => {
                return result.json();
            })
            .then((data) => {
                console.log(data);
                // Redirect to Stripe Checkout
                return stripe.redirectToCheckout({sessionId: data.sessionId})
            })
            .then((res) => {
                console.log(res);
            });
    }
</script>

<script>
    {#const taskFetchURL = {% url '' %};#}

    function GetTaskType(task_type) {
        $.ajax({
            url: '/tasks/',
            data: {type: task_type},
            method: 'POST',
        })
            .done((res) => {
                getStatus(res.task_id);
            })
            .fail((err) => {
                console.log(err);
            });
    }

    function getTaskStatus(taskID) {
        $.ajax({
            url: `/tasks/${taskID}/`,
            method: 'GET'
        })
            .done((res) => {
                const html = `
      <tr>
        <td>${res.task_id}</td>
        <td>${res.task_status}</td>
        <td>${res.task_result}</td>
      </tr>`
                $('#tasks').prepend(html);

                const taskStatus = res.task_status;

                if (taskStatus === 'SUCCESS' || taskStatus === 'FAILURE') return false;
                setTimeout(function () {
                    getStatus(res.task_id);
                }, 1000);
            })
            .fail((err) => {
                console.log(err)
            });
    }
</script>
<script>

    let FieldOptionsUrl = "{% url 'get_field_options' %}";

    function GetFieldOptions(model_name, field_name, search = '') {
        let data_;
        $.ajax({
            url: FieldOptionsUrl,
            type: "GET",
            data: {
                'model_name': model_name,
                'field_name': field_name,
                'search': search
            },
            success: function (data, status) {
                data_ = data;
            }
        });
        return data_;
    }

    function get_awmain_materials(search = '') {
        return GetFieldOptions('AwMain', 'material', search)
    }

    function get_awimages_refno(search = '') {
        return GetFieldOptions('AwImages', 'image_refno', search)
    }
</script>
<script src=
                "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>
<script>
    if (document.querySelector('#refnosel')) {
        var availableRefNos = get_awimages_refno()
        var aaa = [];
        if (availableRefNos) {
            for (i = 0; i < availableRefNos.length - 1; i++) {
                aaa.push(availableRefNos[i]['value'])
            }
        }

        console.log(aaa)
        $("#refnosel").autocomplete({source: aaa})
    }


</script>

<script>
    $('.auto_complete').autoComplete({
        queryKey: 'search',
        resolver: 'custom',
        events: {
            search: function (qry, callback) {
                // let's do a custom ajax call
                $.ajax(
                    {
                        url: FieldOptionsUrl,
                        type: "GET",
                        data: {
                            'model_name': 'AwImages',
                            'field_name': 'image_refno',
                            'search': qry
                        },
                    }
                ).done(function (res) {
                    callback(res.results)
                });
            }
        }
    });
</script>
<script>
    function get_file_download_href(filename) {
        console.log("Created File Path" + FILE_DOWNLOAD_URL + "?f=" + filename)
        return FILE_DOWNLOAD_URL + "?f=" + filename
    }

    $(document).ready(function () {
        $("select.form-control").addClass("form-select")
    })

</script>

</body>
</html>