{% extends 'base.html' %}


{% block head-after %}
    {% include 'aw_data/templ/styles.html' %}
{% endblock %}

{% block wrapper-class %} bg-white m-1 {% endblock %}

{% block content %}


    <div class="filter">
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter"
                aria-expanded="false" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span>
        </button>
    </div>
    <div id="mobile-filter">
        {% include 'aw_data/templ/new_filter_sidebar.html' %}

    </div>
    <section id="sidebar" class="bg-dark text-light">
        {% include 'aw_data/templ/new_filter_sidebar.html' %}
    </section>
    <section id="products" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/963486/pexels-photo-963486.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Wooden chair with legs</p>
                            <p>$90</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-0 col-sm-4 offset-sm-2 col-11 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/1125137/pexels-photo-1125137.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Ugly chair and table set</p>
                            <p>$100</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/3757055/pexels-photo-3757055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Leather Lounger</p>
                            <p>$950</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.unsplash.com/photo-1537182534312-f945134cce34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Tree Trunk table set</p>
                            <p>$390</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/3230274/pexels-photo-3230274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Red Leather Bar Stool</p>
                            <p>$30</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/3773571/pexels-photo-3773571.png?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Modern Dining Table</p>
                            <p>$740</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/534172/pexels-photo-534172.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Boring Dining Table</p>
                            <p>$760</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">An Ugly Office</p>
                            <p>$90</p>
                            <span class="fa fa-circle" id="red"></span>
                            <span class="fa fa-circle" id="teal"></span>
                            <span class="fa fa-circle" id="blue"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block js_scripts %}
    <script>
        // Hide submenus
        $('#body-row .collapse').collapse('hide');

        // Collapse/Expand icon
        $('#collapse-icon').addClass('fa-angle-double-left');

        // Collapse click
        $('[data-toggle=sidebar-colapse]').click(function () {
            SidebarCollapse();
        });

        function SidebarCollapse() {
            $('.menu-collapsed').toggleClass('d-none');
            $('.sidebar-submenu').toggleClass('d-none');
            $('.submenu-icon').toggleClass('d-none');
            $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

            // Treating d-flex/d-none on separators with title
            var SeparatorTitle = $('.sidebar-separator-title');
            if (SeparatorTitle.hasClass('d-flex')) {
                SeparatorTitle.removeClass('d-flex');
            } else {
                SeparatorTitle.addClass('d-flex');
            }

            // Collapse/Expand icon
            $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
        }
    </script>
{% endblock %}