<!-- templates/trade_list.html -->

{% extends 'base.html' %}

{% block title %}Artifact Trades{% endblock %}

{% block content %}
    <h2>Artifact Trades</h2>
    <div x-data="{ trades: [] }" x-init="fetchTrades()">
        <div x-html="trades" hx-get="{% url 'get-trades' %}" hx-trigger="load"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function fetchTrades() {
            fetch('{% url 'get-trades' %}')
                .then(response => response.text())
                .then(data => {
                    Alpine.data['x-data'].trades = data;
                });
        }
    </script>
{% endblock %}
